/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.parent {
  color: red;
  background-color: black;
}
.child {
  color: blue;
}

.grandchild {
  color: green;
}
.greatgrandchild {
  color: pink;
}
.greatgrandchild2 {
  color: purple;
}

.child2 {
  color: coral;
}

.child2 .grandchild {
  color: aqua;
}

.child2 .grandchild .greatgrandchild {
  color: #BC8F8F;
}

.child2 .grandchild2 {
  color: 	#A0522D;
}

.child2 .grandchild2 .greatgrandchild {
  color: tomato;
}

footer {
  background-color: #22223B;
  position: fixed;
  bottom: 0;
  height: 2.25rem;
  width: 100%;
  box-sizing: border-box;
  border: 0.0625rem solid #C9ADA7;
  padding: 0.25rem;
  display: flex;
}

footer a {
  width: 50%;
  flex: 1 1 0%;
  text-align: center;
  border: 0.0625rem solid #C9ADA7;
  color: #F2E9E4;
  padding: 0.25rem;
}

footer span {
  width: 0.25rem;
}